{
  "log": {
    "_recordingName": "iterateGroups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "33a6fd34cfb1e58a9f070ddb237b4d5e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_limit",
              "value": "100"
            }
          ],
          "url": "https://dev84105.service-now.com/api/now/table/sys_user_group?sysparm_limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 20947,
            "text": "{\"result\":[{\"parent\":\"\",\"manager\":\"\",\"roles\":\"\",\"sys_mod_count\":\"0\",\"active\":\"true\",\"description\":\"\\n\\t\\tGroup for all people who have the Analytics Admin role\\n\\t\",\"source\":\"\",\"sys_updated_on\":\"2020-03-17 11:39:14\",\"sys_tags\":\"\",\"type\":\"\",\"sys_id\":\"019ad92ec7230010393d265c95c260dd\",\"sys_updated_by\":\"admin\",\"cost_center\":\"\",\"default_assignee\":\"\",\"sys_created_on\":\"2020-03-17 11:39:14\",\"name\":\"Analytics Settings Managers\",\"exclude_manager\":\"false\",\"email\":\"\",\"include_members\":\"false\",\"sys_created_by\":\"admin\"},{\"parent\":\"\",\"manager\":{\"link\":\"https://dev84105.service-now.com/api/now/table/sys_user/506c0f9cd7011200f2d224837e61030f\",\"value\":\"506c0f9cd7011200f2d224837e61030f\"},\"roles\":\"\",\"sys_mod_count\":\"1\",\"active\":\"true\",\"description\":\"Team Develops ITSM Applications in London\",\"source\":\"\",\"sys_updated_on\":\"2020-09-24 16:42:02\",\"sys_tags\":\"\",\"type\":\"\",\"sys_id\":\"0a52d3dcd7011200f2d224837e6103f2\",\"sys_updated_by\":\"admin\",\"cost_center\":\"\",\"default_assignee\":\"\",\"sys_created_on\":\"20[...]
