{
  "log": {
    "_recordingName": "validateInvocationFailsWithBadCredentials",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "6effe06170d37a3f48082a95782938b5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_limit",
              "value": "1"
            }
          ],
          "url": "https://dev94579.service-now.com/api/now/table/sys_user?sysparm_limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 113,
            "text": "{\"error\":{\"detail\":\"Required to provide Auth information\",\"message\":\"User Not Authenticated\"},\"status\":\"failure\"}"
          },
            {
              "httpOnly": true,
              "name": "BIGipServerpool_dev94579",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "www-authenticate",
              "value": "BASIC realm=\"Service-now\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 1035,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
