{
  "log": {
    "_recordingName": "step-group-members",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e873cbfc2b30aabbf5c7432e60f75499",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_limit",
              "value": "100"
            }
          ],
          "url": "https://dev84105.service-now.com/api/now/table/sys_user_grmember?sysparm_limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 42961,
            "text": "{\"result\":[{\"sys_id\":\"195ebb573b331300ad3cc9bb34efc4ad\",\"sys_updated_by\":\"admin\",\"sys_created_on\":\"2020-09-24 05:11:55\",\"sys_mod_count\":\"0\",\"sys_updated_on\":\"2020-09-24 05:11:55\",\"sys_tags\":\"\",\"user\":{\"link\":\"https://dev84105.service-now.com/api/now/table/sys_user/38cb3f173b331300ad3cc9bb34efc4d6\",\"value\":\"38cb3f173b331300ad3cc9bb34efc4d6\"},\"sys_created_by\":\"admin\",\"group\":{\"link\":\"https://dev84105.service-now.com/api/now/table/sys_user_group/0c4e7b573b331300ad3cc9bb34efc461\",\"value\":\"0c4e7b573b331300ad3cc9bb34efc461\"}},{\"sys_id\":\"1e7836bac0a8018b439ffb87b1fcc39d\",\"sys_updated_by\":\"fred.luddy\",\"sys_created_on\":\"2020-09-24 06:53:36\",\"sys_mod_count\":\"0\",\"sys_updated_on\":\"2020-09-24 06:53:36\",\"sys_tags\":\"\",\"user\":{\"link\":\"https://dev84105.service-now.com/api/now/table/sys_user/5137153cc611227c000bbd1bd8cd2007\",\"value\":\"5137153[...]
